<h1>lipu pi toki pona <small>Toki Pona texts</small></h1>

<ul>
  
  <% @documents.each do |document| %>

  <li>
    <h2><%= link_to document.title, document %></h2>
    <p>by <%= link_to document.user.username, "#" %></p>
    <p><%= truncate(document.original_text, length: 50) %></p>
  </li>

  <% end %>

</ul>


<%= link_to 'New Document', new_document_path %>
