// Place all the styles related to the Documents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.documents.index {
	
	#documents-list {
		list-style-type: none;
		a {
			color: #8A7F5D;
			&:hover {
			 color: #F3B600;
			 }
		}
	}

}