// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form#new_user {
	max-width: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1rem;
	overflow: auto;

  background-color: whitesmoke;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: .4rem;
  border: solid 1px #e9e9ec;

	input[type=email], input[type=password], input[type=submit], input[type=text] {
		box-sizing: border-box;
		width: 100%; margin-left: 0; margin-right: 0;
	}
	input[type=submit] {
		margin-bottom: 0;
		border: solid 2px #D5D7E0;
	}
	p {
		text-align: center;
		font-size: .9rem;
	}
}

#error_explanation {
	font-size: .8rem;
}